<h1>SISCTI - International Symposium of Computer Science and Information Technology</h1>
<p>
Content Director - SISCTI 37 - March 2012<br />
Social Events Coordinator - SISCTI 36 - March 2011
</p>
<hr />
<h1>SAITC - Computer Science and Technology Student Association</h1>
<p>
Organized the first trip to Silicon Valley for a group of 60 persons.
</p>
<hr />
<h1>Tibia</h1>
<p>
Organized the first Tibian Mexican Convention hosted at Monterrey, on Cintermex
</p>
