html {
	width: 100%;
	height: 100%;
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

body {
	background:#000000 url(/images/black-stripe.gif) repeat;
	min-width: 1000px;
	margin: 0;
	padding: 0;
	color: #2e2e2e;
}

h1 {
  font-size: 24px;
}

a{
  outline: 0;
  border: 0;
}

.t24{
  font-size: 24px;
  margin-top: 11px;
  margin-bottom: 11px;
}

#cervera{
  padding: 10px 10px 0px 10px;
  height: 100%;
  min-height: 100%;
  position: relative;
}

#cervera-ajax{
  padding: 20px;
  font-size: 16px;
}

#cervera-ajax h1{
  margin: 0;
}

#cervera-ajax h2{
  font-size: 20px;
  margin: 0;
}

#menu{
  width: 840px;
  margin: 0 auto;
	height:100%;
	min-height: 100%;
	text-align:center;
	padding-bottom:10px;
}

.item{
  background: #fff;
  float: left;
  padding: 7px 5px 3.5px 5px;
  margin: 5px;
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
}

.leftcol{
  width:240px;
  float: left;
}

.rightcol{
  width: 600px;
  float:left;
}

.botonscol{
  width: 50%;
  float: left;
}

#botones-menu{
  width: 600px;
}
.secondary-item{
  background: #969696 !important;
}

.no-background{
  background: none !important;
}

.twitterbutton{
  width: 186px;
}

.facebookbutton{
  width: 186px;
}

.linkedin{
  width: 370px;
}

.size1{
  width: 100px;
}

.size2{
  width: 220px;
}

.size2-5{
  width: 280px;
}

.size3{
  width: 340px;
}

.size4{
  width: 460px;
}

.size5{
  width: 580px;
}

.size6{
  width: 700px;
}

.size7{
  width: 820px;
}

.bio p{
  width: 460px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
}

.t26{
  font-size: 26px;
  margin: 0 auto;
}

.t22{
  font-size: 22px;
  margin: 0 auto;
}

.contact {
  font-size: 15px;
  font-weight: bold;
}

.mail{
  font-size: 14px;
}

.twitter_item{
  height: 85px;
}

a:link, a:visited{
  color: #006cff;
}

a:hover{
  color: #494949;
}

div.boton{
  background-color: #5c5c5c;
}

a.ajax{
  width: 100%;
  height: 100%;
  display: block;
}

a:link.ajax, a:visited.ajax{
  background-color: #5c5c5c;
  color: #fff;
  font-size: 26px;
}

a:hover.ajax{
  background-color: #fff;
  color: #5c5c5c;
  font-size: 26px;
}

#content{
	width:840px;
}

.wrapper{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

#footer{
	height:30px;
	width: 840px;
	color:#e84b20;
	padding-top:15px;
	text-align:right;
}

.clear{
	clear:both;
}

/* ******************************************************************** */ 
/* Clearfix: http://csscreator.com/attributes/containedfloat.php        */
/* ******************************************************************** */
.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
  }
 
.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */
